.caracter-3-4 {
    left: 123px;
}

.caracter-5-7 {
    left: 115px;
}

.caracter-8-9 {
    left: 110px;
}

.caracter-10 {
    left: 105px;
}

.caracter-11 {
    left: 100px
}

.caracter-12 {
    left: 95px;
}